* {
    border: 1px solid black;
}

#circular-progress {
    position: fixed !important;
    top: 50vh !important;
    z-index: 9999 !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

