* {
    /*border: 1px solid black;*/
    font-size: 16px;
}

#circular-progress {
    position: fixed !important;
    top: 50vh !important;
    z-index: 9999 !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: gray;
    border: 1px solid black;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    border: 0px none #ffffff;
    border-radius: 53px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
